- @item.comments.each do |comment|
  .comment
    = link_to comment.user.nickname, comment.user
    = time_ago_in_words(comment.updated_at)
    - if user_signed_in? && comment.user == current_user
      %span
        = link_to '削除', [@item, comment], method: :delete, remote: true
    = markdown(comment.raw_body)