- if user_signed_in?
  - if @item.stocked?(current_user)
    = link_to 'ストックを解除', item_items_stock_path(@item), method: :delete, remote: true, class: 'btn btn-success btn-block'
  - else
    = link_to 'ストックする', item_items_stock_path(@item), method: :post, remote: true, class: 'btn btn-default btn-block'